/*profile.css*/
*{
	box-sizing: border-box;
}
.col-s6,h1,h2{
	text-align: center;
}
.container{
	background: lightgrey;
	border-radius: 10px;
	padding: 4px 0px 4px 0px;
}
.btn-sm{
	background: #b71c1c;

}
.well{
	background: #ff9800;
	width: 100%;
	padding: 2rem;
	word-break: break-all;
}
.well h3{
	margin-top: 0;
}
.write{
	width: 50%;
	float: right;
	padding-right: 5%;
}
.read{
	padding-left: 5%;
}
.message{
	padding-top: 2vh;
	font-size: 1.2rem;
}